body {
    background-image: url('https://img.freepik.com/premium-photo/red-abstract-background-texture_851755-810.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: fit-content;
    margin: 0;
    padding: 0;
    /* Additional styles */
    /* Add any additional styles you want here */
}
.login-container {
    max-width: 400px;
    height: 400px;
    margin: 0 auto;
    margin-top: 150px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  